/* Css reset */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  interpolate-size: allow-keywords;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2 {
  line-height: 1.25;
}

p,
li {
  text-wrap: pretty;
}

img,
svg {
  display: block;
  width: 100%;
  height: auto;
}

label {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
  font-size: max(1em, 16px);
}

textarea {
  resize: none;
  min-height: 4lh;
}

legend {
  padding: 0;
}

select,
::picker(select) {
  appearance: base-select;
}
/* Reset end */

/* Header */
nav {
  display: flex;
  align-items: center;
}
.logo {
  max-width: 80px;
}
.logo-desktop {
  display: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  background-color: var(--color-headerfooter);
}
.menu {
  list-style: none;
  display: none;
  flex-direction: column;
  gap: 15px;
  margin: 0;
  padding: 0;
}
.menu a {
  color: var(--color-header-text);
  text-decoration: none;
  font-family: var(--font-family-primary);
  font-size: 24px;
}
.menu li {
  color: var(--color-header-text);
  font-family: var(--font-family-primary);
  font-size: 24px;
}
nav.active .menu {
  display: flex;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background-color: var(--color-mobilmenu);
  padding: 20px;
}
.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  gap: 6px;
}

.line {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--orange);
  border-radius: 2px;
}
.submenu {
  display: none;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;
}
.projects-toggle.active .submenu {
  display: flex;
}
html::before {
  content: "";
  inset: 0;
  position: fixed;
  background-color: var(--darkgreen);
  block-size: 5px;
  /* ^højden på baren */
  animation: site-progress linear both;
  animation-timeline: scroll();
  transform-origin: 0 0;
  z-index: 1000;
}
@keyframes site-progress {
  from {
    scale: 0 1;
  }
}

@media (min-width: 800px) {
  .burger {
    display: none;
  }
  .logo-desktop {
    display: block;
    width: 60px;
  }
  .logo {
    display: none;
  }
}

/* Header end */

/* Body */
body {
  background-color: var(--color-background);
}

/* h2 {
} */
/* h3 {
} */
h4 {
  font-family: var(--font-family-p);
  font-size: larger;
  place-self: center;
  margin-bottom: 10px;
}
h5 {
  font-family: var(--font-family-about);
  font-size: 20px;
  font-weight: 100;
  color: white;
}
.tema {
  font-family: var(--font-family-primary);
  font-size: 18px;
  color: var(--color-folder-text);
}

.projects {
  font-family: var(--font-family-h1);
  font-size: 30px;
  font-weight: 200;
  color: var(--color-folder-text);
}

p {
  font-family: var(--font-family-p);
  color: #000;
  max-width: 65ch;
}
button {
  max-width: 65ch;
}
.portrait {
  max-width: 70%;
  place-self: center;
}
.pic {
  max-width: 80%;
  place-self: center;
}

/* Accordion */
.accordion {
  background-color: var(--green);
  color: #000;
  cursor: pointer;
  padding: 18px;
  width: fit-content;
  margin-inline: 13px; /* text-align: left; */
  border: none;
  outline: none;
  transition: 0.4s;
  margin-top: 10px;
}

/* .accordion:hover {
  background-color: var(--darkgreen);
} */
/* .accordion.active {
  background-color: var(--darkgreen);
} */

.panel {
  padding: 0 18px;
  background-color: var(--color-background);
  max-height: 0;
  overflow: hidden;
  margin-bottom: 30px;

  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: "læs mere";
  font-size: 13px;
  color: var(--darkgreen);
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "læs mindre";
}

/* Accordion end */

/* Btn */
.btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 10px;
  background-color: var(--orange);
  color: white;
  text-decoration: none;
  border-radius: 6px;
  width: fit-content;
  margin-left: auto;
  margin-bottom: 50px;
  margin-right: 20px;
}
.arrow_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 1px solid var(--lightorange);
  border-radius: 50%;
  background-color: var(--lightorange);
  transition: transform 0.2s ease;
}
.btn:hover {
  background-color: #e7b06c;
}
.btn:hover .arrow_circle {
  transform: translate(2px, -2px);
}

/* Btn end */

/* Desktop */

@media (min-width: 800px) {
  .grid_2-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .grid_2-2-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .minus {
    order: -1;
  }
}
/* Body end */

/* Footer */
footer {
  background-color: var(--color-headerfooter);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.footer {
  text-align: center;
}
.footer-section {
  display: flex;
  justify-content: center;
  gap: 80px;
  align-items: flex-start;
}
.footer_p {
  max-width: 40ch;
}
/* Footer end */
