/* Css reset */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2 {
  line-height: 1.25;
}

img,
svg {
  display: block;
  width: 100%;
  height: auto;
}

label {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
  font-size: max(1em, 16px);
}

textarea {
  resize: none;
  min-height: 4lh;
}

/* Reset end */

/* Header */
nav {
  display: flex;
  align-items: center;
}
.logo {
  max-width: 80px;
}
header {
  display: flex;
  position: relative;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--color-headerfooter);
}

.menu {
  display: none;
  flex-direction: column;
  list-style: none;
  background-color: var(--darkgreen);
  gap: 5px;
  padding: 5px;
}
.menu a {
  color: var(--color-header-text);
  text-decoration: none;
  font-family: var(--font-family-primary);
  font-size: 24px;
}
.menu li {
  color: var(--color-header-text);
  font-family: var(--font-family-primary);
  list-style: none;
  text-align: end;
  font-size: 24px;
}
nav.active .menu {
  display: flex;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 200;
}
.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  gap: 6px;
}

.line {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--orange);
  border-radius: 2px;
}
.line_desk {
  display: none;
}
.submenu {
  display: none;
  flex-direction: column;
  list-style: none;
  gap: 10px;
  padding-left: 10px;
}
.submenu a {
  font-size: 20px;
}
.submenu li::after {
  content: " ◄";
  font-size: 12px;
}
.projects-toggle.active + .submenu {
  display: flex;
}
.projects-toggle::after {
  content: "▼";
  font-size: 18px;
  display: inline-block;
  transition: transform 0.3s ease;
}
.projects-toggle.active::after {
  transform: rotate(180deg);
}
html::before {
  content: "";
  inset: 0;
  position: fixed;
  background-color: var(--darkgreen);
  block-size: 5px;
  /* ^højden på baren */
  animation: site-progress linear both;
  animation-timeline: scroll();
  transform-origin: 0 0;
  z-index: 1000;
}
@keyframes site-progress {
  from {
    scale: 0 1;
  }
}

@media (min-width: 800px) {
  .burger {
    display: none;
  }
  .submenu {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .submenu li::after {
    content: "";
  }
  .logo {
    display: block;
    width: 60px;
  }
  nav {
    margin-left: auto;
  }
  nav.active .menu {
    position: static;
    background: none;
    padding: 0;
  }
  .name {
    display: none;
  }
  .projects-toggle::after {
    content: none; /*pil væk*/
  }
  .projects-toggle.active .submenu {
    display: flex;
  }
  .menu {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }
  .menu a {
    position: relative;
    text-decoration: none;
  }
  .menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: currentColor;
    transition: width 0.3s ease;
  }
  .menu a:hover::after {
    width: 100%;
  }
  .menu a.active::after {
    width: 100%;
  }
}
/* Header end */

/* Til toppen funktion */
.up {
  text-decoration: none;
  position: fixed;
  bottom: 45px;
  right: 30px;
  font-size: 10px;
  padding: 10px 8px;
  background: var(--lightorange);
  color: var(--darkgreen2nd);
  border-radius: 50%;
  border: 2px solid var(--green);
  z-index: 50;
}
.up:hover {
  opacity: 0.8;
}
html {
  scroll-behavior: smooth;
}
/* funktion end */

/* Body */
body {
  background-color: var(--color-background);
}

/* h2 {
} */
/* h3 {
} */
h4 {
  font-family: var(--font-family-p);
  font-size: larger;
  place-self: center;
  margin-bottom: 10px;
}
h5 {
  font-family: var(--font-family-about);
  font-size: 20px;
  font-weight: 100;
  color: white;
}
.tema {
  font-family: var(--font-family-primary);
  font-size: 18px;
  color: var(--color-folder-text);
}

.projects {
  font-family: var(--font-family-h1);
  font-size: 30px;
  font-weight: 200;
  color: var(--color-folder-text);
}
.p_tape {
  margin-bottom: 0;
}
p {
  font-family: var(--font-family-p);
  color: #000;
  max-width: 65ch;
  margin-bottom: 8px;
}
button {
  max-width: 65ch;
}
.portrait {
  max-width: 70%;
  place-self: center;
}
.pic {
  max-width: 80%;
  place-self: center;
}

.tema_intro {
  margin-left: 20px;
  margin-bottom: 50px;
  font-family: var(--font-family-p);
  margin-right: 8px;
}
.tema_head {
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 55px;
  font-family: var(--font-family-h1);
  color: var(--darkgreen);
}
.tema_titel {
  margin-left: 20px;
  margin-bottom: 5px;
}
.grid_pic {
  margin-bottom: 10px;
}
.a_pic {
  order: -1;
}
.fugl,
.bjerg,
.blomst,
.lotus {
  display: none;
}
/* Accordion */
.accordion {
  background-color: var(--green);
  color: #000;
  cursor: pointer;
  padding: 18px;
  width: 90%;
  margin-inline: 5px;
  justify-self: center;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-top: 10px;
}
.panel {
  padding-inline: 18px;
  background-color: #f0faec;
  max-height: 0;
  width: 90%;
  justify-self: center;
  overflow: hidden;
  margin-bottom: 50px;
  margin-inline: 5px;
  transition: max-height 0.2s ease-out;
  border: 2px solid var(--green);
}

.accordion:after {
  content: "læs mere";
  font-size: 13px;
  color: var(--darkgreen);
  float: right;
  margin-left: 5px;
}

.accordion.active:after {
  content: "læs mindre";
}

/* Accordion end */

/* Btn */
.btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 10px;
  background-color: var(--orange);
  color: white;
  text-decoration: none;
  border-radius: 6px;
  width: fit-content;
  margin-left: auto;
  margin-bottom: 50px;
  margin-right: 20px;
}
.arrow_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 1px solid var(--lightorange);
  border-radius: 50%;
  background-color: var(--lightorange);
  transition: transform 0.2s ease;
}
.btn:hover {
  background-color: #e7b06c;
}
.btn:hover .arrow_circle {
  transform: translate(2px, -2px);
}

/* Btn end */

/* Desktop */

@media (min-width: 800px) {
  .grid_2-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: start;
  }
  .grid_2-2 > div {
    /*der bliver talt til div specifikt i grid'et (det direkte barn eller de direkte børn, hvis flere)*/
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* scroll animation */
  .fade {
    animation: fadeIn linear both;
    animation-timeline: view();
    animation-range: 0 30%;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  /* Scroll animation end */

  .grid_2-2-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: start;
  }
  .grid_2-2-1 > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .minus {
    order: -1;
  }
  .tema_intro {
    margin-left: 220px;
    margin-bottom: 70px;
    max-width: 70ch;
  }
  .tema_head {
    margin-left: 210px;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  .tema_titel {
    margin-left: 220px;
    margin-bottom: 5px;
  }
  .accordion {
    width: 100%;
    max-width: 65ch;
    padding-inline: 20px;
    justify-self: center;
  }
  .panel {
    padding-inline: 20px;
    width: 100%;
    max-width: 65ch;
    justify-self: center;
    background-color: #f0faec;
    border: 2px solid var(--green);
  }
  .pic {
    width: 100%;
    max-width: 550px;
    justify-self: center;
  }
  .line_desk {
    display: flex;
    width: 60%;
    opacity: 0.5;
    background-color: var(--green);
    margin: 80px auto;
  }
  .ekstra {
    margin-bottom: -20px;
  }
  .ekstra1 {
    margin-top: -30px;
  }
  .up {
    text-decoration: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 16px;
    padding: 10px 8px;
    background: var(--lightorange);
    color: var(--darkgreen2nd);
    border-radius: 50%;
    border: 2px solid var(--green);
    z-index: 50;
  }
  .up:hover {
    opacity: 0.8;
  }
  html {
    scroll-behavior: smooth;
  }
  .fugl,
  .bjerg,
  .blomst,
  .lotus {
    display: block;
    position: absolute;
    max-width: 13%;
    opacity: 0.5;
    right: 400px;
    top: 200px;
  }
  .blomst {
    transform: scaleX(-1);
    max-width: 10%;
    opacity: 0.3;
  }
  .bjerg {
    top: 260px;
    opacity: 0.4;
  }
  .lotus {
    max-width: 12%;
    top: 260px;
  }
  .fugl {
    max-width: 9%;
    top: 160px;
    opacity: 0.3;
  }
}
/* Body end */

/* Footer */
.footer {
  background-color: var(--color-headerfooter);
  padding-inline: 20px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.footer p {
  padding-top: 5px;
  padding-bottom: 0;
}
.footer-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  width: 100%;
  max-width: 900px;
}
.footer-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.footer-title {
  font-family: var(--font-family-h1);
  color: var(--orange);
  font-size: 22px;
  text-decoration: none;
}
.footer-text {
  max-width: 40ch;
  line-height: 1.5;
}
.socials {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
.icon {
  width: 34px;
  height: auto;
  transition: transform 0.2s ease;
}
.icon:hover {
  transform: scale(1.1);
}

/* Copyright */
.footer-bottom {
  text-align: center;
  font-size: 14px;
  opacity: 0.8;
}

@media (min-width: 800px) {
  .footer-grid {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1600px;
    gap: 250px;
    justify-content: center;
  }
  .footer-col {
    align-items: center;
    text-align: center;
  }
}

/* Footer end */
