main {
  position: relative;
}
header {
  z-index: 10;
}
.folder_desk {
  display: none;
}
.om_mig {
  display: none;
}
h1 {
  font-family: var(--font-family-h1);
  font-size: 40px;
  color: var(--color-frontpage-text);
  margin-block: 30px;
  text-align: center;
  text-shadow: 1px 1px 3px #0a510e;
}
.portrait {
  max-width: 50%;
  margin-bottom: 20px;
  box-shadow: 4px 4px 10px rgb(150, 173, 145);
}
.projects {
  text-align: center;
  margin-bottom: 20px;
}
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 10px;
}
.folder {
  max-width: 65%;
}
.tematext_mobil {
  text-decoration: none;
  color: var(--color-folder-text);
}
.smoke_down {
  position: absolute;
  z-index: -1;
  max-width: 50%;
  top: -180px;
  right: 0;
  opacity: 0.3;
}
.smoke_up {
  position: absolute;
  z-index: -1;
  max-width: 30%;
  opacity: 0.3;
  bottom: -50px;
}
.smoke_desk {
  display: none;
}
p {
  padding-bottom: 40px;
  padding-inline: 30px;
}

@media (min-width: 800px) {
  .folder {
    display: none;
  }
  .smoke_up {
    display: none;
  }

  .logo-desktop {
    display: block;
    width: 60px;
  }
  header {
    height: 70px;
  }
  .smoke_down {
    max-width: 20%;
    opacity: 0.4;
    top: -300px;
  }
  .smoke_desk {
    display: block;
    position: absolute;
    max-width: 20%;
    left: 0;
    bottom: -170px;
    opacity: 0.4;
    z-index: -1;
  }
  h1 {
    margin-top: 100px;
    font-size: 50px;
    font-weight: 300;
  }
  .portrait {
    position: relative;
    max-width: 15%;
    margin-top: 30px;
    margin-bottom: 40px;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
  }
  .portrait:hover {
    filter: grayscale(0%);
  }
  .om_mig {
    display: block;
    position: absolute;
    text-decoration: none;
    background-color: rgba(150, 150, 150, 0.324);
    padding-inline: 5px;
    bottom: 50%;
    right: 43%;
  }
  .mini_me {
    max-width: 70px;
    position: absolute;
    right: 39%;
    bottom: 20px;
  }

  .intro {
    place-self: center;
    max-width: 45ch;
    margin-bottom: 40px;
  }
  .folder_desk {
    display: block;
    position: absolute;
    width: 170px;
  }
  .folder_desk a {
    position: relative;
    z-index: 2;
  }
  .folder_desk a img {
    width: 100%;
  }
  .tema2 {
    bottom: 180px;
    left: 230px;
  }
  .tema3 {
    top: 50px;
    left: 350px;
  }
  .tema4 {
    top: 50px;
    right: 350px;
  }
  .tema5 {
    bottom: 180px;
    right: 230px;
  }
  .projects {
    display: none;
  }
  .tema2_text,
  .tema3_text,
  .tema4_text,
  .tema5_text {
    position: absolute;
  }
  .tema2_text {
    bottom: 115px;
    left: 255px;
  }
  .tema3_text {
    top: 190px;
    left: 375px;
  }
  .tema4_text {
    top: 190px;
    right: 375px;
  }
  .tema5_text {
    bottom: 115px;
    right: 255px;
  }
  .img2,
  .img3,
  .img4,
  .img5 {
    position: absolute;
    top: 2px;
    left: 10px;
    max-width: 85%;
    z-index: 1;
    transition: transform 0.3s;
  }

  .folder_desk:hover .img2,
  .folder_desk:hover .img3,
  .folder_desk:hover .img4,
  .folder_desk:hover .img5 {
    transform: translate(10px, -40px) rotate(-15deg);
  }
}
