.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 10px;
}
.folder {
  max-width: 70%;
}
.tematext_mobil {
  text-decoration: none;
  color: var(--color-folder-text);
}
