h1 {
  margin-left: 20px;
  margin-top: 40px;
}
h2 {
  margin-left: 20px;
}
p {
  margin-inline: 20px;
}

.btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 10px;
  background-color: var(--orange);
  color: white;
  text-decoration: none;
  border-radius: 6px;
  width: fit-content;
  margin-left: auto;
  margin-bottom: 50px;
  margin-right: 20px;
}
.arrow_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 1px solid var(--lightorange);
  border-radius: 50%;
  background-color: var(--lightorange);
  transition: transform 0.2s ease;
}
.btn:hover {
  background-color: #e7b06c;
}
.btn:hover .arrow_circle {
  transform: translate(2px, -2px);
}

.end_text {
  margin: 10px;
}

/* Accordion */
.accordion {
  /* background-color: var(--color-background); */
  background-color: var(--green);
  color: #000;
  cursor: pointer;
  padding: 18px;
  width: fit-content;
  margin-inline: 13px; /* text-align: left; */
  border: none;
  outline: none;
  transition: 0.4s;
  margin-top: 10px;
}

.active .accordion:hover {
  background-color: var(--darkgreen);
}

.panel {
  padding: 0 18px;
  background-color: var(--color-background);
  max-height: 0;
  overflow: hidden;
  margin-bottom: 30px;

  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: "\02795";
  font-size: 13px;
  color: var(--darkgreen);
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}

@media (min-width: 800px) {
  .grid_2-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .grid_2-2-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .minus {
    order: -1;
  }
}
